.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background-image: url("../../assets/images/homeBackgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
