* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  src: url("./fonts/joystix monospace.ttf") format("truetype");
  
  font-family: "joystix";
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: #1B1B1B;
  
  font-family: "joystix";
  font-size: 62.5%;
}

.double-color {
  background: -webkit-linear-gradient(white 50%, #FEB0DC 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  cursor: pointer;
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 14rem;
  height: 8rem;

  border-radius: 20px;
  border: none;

  position: relative;

  background: url("./images/buttonBackground.svg") no-repeat;
  background-size: contain;

  font-size: 2rem;
  font-family: "joystix";
}
